.global__img {
  position: absolute;
  top: -162px;
  right: 0;
  max-width: 52%;
  object-fit: contain;
}

@media screen and (max-width: 1280px) {
  .global__img {
    top: 80px;
    left: 400px;
  }
}
