.popup__container {
  box-sizing: border-box;
  margin: auto;
  width: 70%;
  height: 90%;
  background-color: #fff;
  color: #000;
  border: 4px solid #000000;
  box-shadow: 12px 12px 0px #000000;
  position: relative;
  min-width: 1149px;
}
@media screen and (max-width: 1480px) {
  .popup__container {
    min-width: 600px;
  }
}
