.global__subtitle {
  font-weight: 400;
  font-size: 24px;
  line-height: 87%;
  text-align: right;
  position: sticky;
  z-index: 1;
  margin: 36px 0 117px;
}

@media screen and (max-width: 1280px) {
  .global__subtitle {
    text-align: center;
    margin-bottom: 360px;
  }
}
