.footer__nav-wrapper {
  display: flex;
  gap: 64px;
  margin-left: 366px;
}
@media screen and (max-width: 1480px) {
  .footer__nav-wrapper {
    margin-left: 0;
  }
}
.footer__nav-block p {
  font-family: "IBM Plex Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 87%;
  text-align: center;
  letter-spacing: -0.04em;
  margin: 0 0 15px;
  text-align: left;
}
.footer__nav-block li {
  font-family: "IBM Plex Mono";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 87%;
  letter-spacing: -0.04em;
  margin-top: 8px;
}
