.time__title {
  font-family: "IBM Plex Mono";
  font-weight: 700;
  font-size: 64px;
  line-height: 87%;
  text-align: right;
  margin-top: 80px;
  margin-bottom: 0;
}
.time__title mark {
  background-color: #baffcd;
  color: #37ab00;
  padding-left: 24px;
  padding-top: 0;
}

@media screen and (max-width: 1280px) {
  .time__title {
    text-align: center;
  }
}
