@media screen and (max-width: 1480px) {
  .global__text {
    margin-left: 80px;
  }
  .global__subtitle {
    text-align: left;
  }
  .global__link {
    text-align: left;
  }
}

@media screen and (max-width: 1300px) {
  .transfer {
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
  }
  /* .transfer__title {
    padding-top: 60px;
  } */
  /* .global__subtitle {
    padding-bottom: 60px;
  } */
  .global__container {
    width: 350px;
    top: 100px;
  }

  .global__container-arrow {
    width: 350px;
    top: 100px;
  }
  .global__container-earth1 {
    width: 160px;
    top: 300px;
    right: 160px;
  }

  .global__container-earth2 {
    width: 140px;
    top: 140px;
    right: 100px;
  }
  .global__container-earth3 {
    width: 80px;
    top: 190px;
    right: 290px;
  }
  .global__text {
    margin-left: auto;
  }
  .global__link {
    text-align: left;
  }
  .global__img {
    top: 50px;
    right: 100px;
  }
  .time {
    margin-left: 0;
    flex-direction: column;
    margin-top: 300px;
  }
  .time__container {
    margin-left: calc(100vw - (100vw - 40px));
  }
  .time__wrapper {
    text-align: center;
  }
  .time__title {
    text-align: center;
  }
  .footer {
    padding: 48px 20px 51px 20px;
  }
}

@media screen and (max-width: 880px) {
  .header {
    justify-content: space-between;
    padding: 20px 23px 0;
  }
  .header__nav-wrapper {
    display: none;
  }
  .logo {
    width: 46px;
  }
  .gamburger {
    display: block;
  }
  .button-started {
    padding: 14px 40px;
  }
  .transfer {
    margin-top: 100px;
  }
  .transfer__container {
    width: 80%;
    height: 250px;
  }
  .transfer__container p {
    font-weight: 400;
    font-size: 40px;
    margin-bottom: 40px;
  }
  .transfer__title {
    text-align: center;
  }
  .global {
    margin-top: 360px;
  }
  .global__container {
    width: 250px;
    top: -300px;
  }

  .global__container-arrow {
    width: 250px;
    top: -300px;
  }
  .global__container-earth1 {
    width: 120px;
    top: -170px;
    right: 120px;
  }

  .global__container-earth2 {
    width: 110px;
    top: -290px;
    right: 100px;
  }
  .global__container-earth3 {
    width: 50px;
    top: -220px;
    right: 240px;
  }
  .global__title,
  .global__subtitle,
  .global__link {
    text-align: center;
  }
  /* .global__subtitle {
    padding-bottom: 30px;
  } */
  .time {
    margin-top: 100px;
    gap: 30px;
  }
  .time__title {
    font-weight: 400;
    font-size: 44px;
  }
  .time__subtitle {
    padding-bottom: 50px;
  }
  .time__container {
    width: 250px;
  }
  .time__container p {
    font-weight: 400;
    font-size: 30px;
  }

  .time_12 {
    padding-top: 10px;
  }
  .time_3 {
    padding-right: 10px;
  }
  .time_6 {
    padding-bottom: 10px;
  }
  .time_9 {
    padding-left: 10px;
  }
  .footer {
    flex-direction: column;
    gap: 30px;
  }

  .form__input {
    margin-bottom: 16px;
    height: 40px;
    width: 70%;
  }
}

@media screen and (max-width: 560px) {
  .header {
    padding: 40px 33px 0;
  }
  .intro__title span:last-child {
    font-weight: 400;
    font-size: 40px;
  }
  .intro__text {
    font-weight: 400;
    text-align: center;
  }
  .transfer__container {
    width: 90%;
    height: 180px;
  }
  .transfer__container img {
    width: 60px;
    animation: transl 4s infinite linear;
    animation-direction: alternate;
  }
  @keyframes transl {
    0% {
      left: 10px;
    }
    100% {
      left: 70%;
    }
  }
  .transfer__container p {
    font-weight: 400;
    font-size: 28px;
  }
  .transfer__title {
    font-weight: 400;
    font-size: 30px;
  }
  .global__title {
    font-weight: 400;
    font-size: 40px;
  }
  .global__subtitle {
    font-weight: 400;
    font-size: 24px;
  }

  .global__link {
    font-size: 20px;
  }

  .time__title {
    font-weight: 400;
  }

  .time__wrapper {
    min-width: 100%;
    align-items: center;
  }
  .time__subtitle {
    font-size: 18px;
    padding-bottom: 50px;
  }
  .footer__nav-wrapper {
    display: flex;
    flex-direction: column;
    gap: 34px;
  }
  .footer__nav-block p,
  .footer__nav-block ul {
    text-align: center;
  }
}
