@media screen and (max-width: 1280px) {
  .global__text {
    align-items: center;
  }
  .global__title {
    line-height: 100%;
  }
  .time__title {
    text-align: center;
    line-height: 120%;
  }
}

@media screen and (max-width: 1000px) {
  .transfer {
    flex-direction: column;
  }
  .logo {
    width: 64px;
  }
  .global {
    margin-top: 171px;
    flex-direction: column;
    align-items: center;
    gap: 60px;
  }
  .global__img {
    position: relative;
    top: 0;
    right: 0;
    max-width: 440px;
  }
  .global__text {
    order: 2;
    margin: 0 auto;
    align-items: start;
  }
  .global__container {
    margin: 0 auto;
  }
  .global__title,
  .global__subtitle,
  .global__link {
    text-align: center;
  }
  .time {
    flex-direction: column;
    margin-top: 171px;
  }
  .time__container {
    margin: 0 auto;
  }
  .time__wrapper {
    text-align: center;
  }
  .time__title {
    text-align: center;
    line-height: 87%;
  }
  .footer {
    padding: 48px 20px 51px 20px;
  }
}

@media screen and (max-width: 880px) {
  .header {
    justify-content: space-between;
    padding: 20px 23px 0;
  }
  .header__nav-desktop {
    display: none;
  }
  .logo {
    width: 46px;
  }
  .burger {
    display: block;
  }
  .button-started {
    padding: 14px 40px;
  }
  .transfer {
    margin-top: 100px;
  }
  .transfer__container {
    height: 250px;
  }
  .transfer__paragraph {
    font-weight: 400;
    font-size: 40px;
    margin-bottom: 40px;
  }
  .transfer__title {
    text-align: center;
  }
  .global {
    margin-top: 100px;
  }
  .global__text {
    align-items: center;
  }
  .global__container {
    width: 300px;
  }

  .global__container-arrow {
    width: 300px;
  }
  .global__container-earth1 {
    width: 130px;
    top: 160px;
    right: 60px;
  }
  .global__container-earth2 {
    width: 130px;
    top: 10px;
    right: 60px;
  }
  .global__container-earth3 {
    width: 60px;
    right: 190px;
  }
  .time {
    margin-top: 100px;
    gap: 30px;
  }
  .time__title {
    font-weight: 400;
    font-size: 44px;
  }
  .time__subtitle {
    padding-bottom: 50px;
  }
  .time__container {
    width: 300px;
  }
  .time__paragraph {
    font-weight: 400;
    font-size: 30px;
  }

  .time_12 {
    padding-top: 10px;
  }
  .time_3 {
    padding-right: 10px;
  }
  .time_6 {
    padding-bottom: 10px;
  }
  .time_9 {
    padding-left: 10px;
  }
  .footer {
    flex-direction: column;
    gap: 30px;
  }
  .popup__title {
    font-size: 52px;
  }
  .form__input {
    height: 60px;
  }
  .form__input-error {
    top: 62px;
  }
  .popup__container {
    width: 100%;
    height: 100vh;
  }
  .popup__button-close {
    top: 24px;
    right: 24px;
  }
  .form__button {
    padding: 20px 70px;
    font-size: 26px;
  }
}

@media screen and (max-width: 560px) {
  .header {
    padding: 40px 33px 0;
  }
  .intro__title span:last-child {
    font-weight: 400;
    font-size: 40px;
  }
  .intro__text {
    font-weight: 400;
    text-align: center;
  }
  .transfer__container {
    height: 180px;
  }
  .transfer__img-dollar {
    width: 60px;
    animation: transl 4s infinite linear;
    animation-direction: alternate;
  }
  @keyframes transl {
    0% {
      left: 10px;
    }
    100% {
      left: 70%;
    }
  }
  .transfer__paragraph {
    font-weight: 400;
    font-size: 28px;
  }
  .transfer__title {
    font-weight: 400;
    font-size: 30px;
  }
  .global__container {
    width: 260px;
  }
  .global__container-arrow {
    width: 260px;
  }
  .global__container-earth1 {
    width: 100px;
  }
  .global__container-earth2 {
    width: 100px;
  }
  .global__container-earth3 {
    width: 40px;
  }
  .global__title {
    font-weight: 400;
    font-size: 40px;
  }
  .global__subtitle {
    font-weight: 400;
    font-size: 24px;
  }
  .time__container {
    width: 260px;
  }
  .time__title {
    font-weight: 400;
  }
  .time__title .mark {
    display: block;
    margin-top: 10px;
  }
  .time__wrapper {
    min-width: 100%;
    align-items: center;
  }
  .time__subtitle {
    padding-bottom: 50px;
  }
  .footer__nav-list {
    display: flex;
    flex-direction: column;
    gap: 34px;
  }
  .footer__paragraph,
  .footer__nav-block-item {
    text-align: center;
  }
  .form {
    gap: 80px;
  }
}
