.popup {
  opacity: 0;
  visibility: hidden;
  transition: visibility 0.3s, opacity 0.3s linear;
  width: 100%;
  height: 100%;
  z-index: 5;
}
.popup__login {  
  display: flex;
  align-items: center;
  justify-content: center;  
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
}
.popup_opened {
  visibility: visible;
  opacity: 1;
}

.popup__title {
  font-family: "IBM Plex Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 122%;
  text-align: center;
}
.popup__icon-list {
  display: flex;
  justify-content: space-between;
  width: 174px;
  border: 2px solid #000000;
  margin: 0 auto;
  padding: 10px;
}
.popup__container {
  box-sizing: border-box;
  margin: auto;
  width: 70%;
  height: 80%;
  background-color: #fff;
  color: #000;
  border: 4px solid #000000;
  box-shadow: 12px 12px 0px #000000;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.popup__button-close {
  position: absolute;
  top: 30px;
  right: 30px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 0;
  font-family: "IBM Plex Mono";
  font-style: normal;
  font-weight: 200;
  font-size: 40px;
  line-height: 87%;
}
.container__mobile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.container__mobile ul:first-child {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0;
}