*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

button {
  padding: 0;
  cursor: pointer;
}

ul,
ol {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}
