.logo {
  width: 92px;
}

.button-started {
  padding: 10px 10px;
  font-weight: 700;
  font-size: 16px;
  line-height: 122%;
  text-align: center;
  color: #ffffff;
  background-color: #9747ff;
  border: 2px solid #000000;
  box-shadow: 2px 2px 0px #000000;
}
.button-started:hover {
  background-color: #fffb47;
  color: #000000;
  transition: 0.3s;
}
.burger {
  display: none;
  cursor: pointer;
  padding: 5px;
  background-color: transparent;
  border: none;
}
.burger span {
  font-size: 40px;
}
.icon {
  width: 32px;
}
.icon-link {
  transition: 0.5s;
}
.icon-link:hover {
  transform: scale(1.2);
}

/* header */
.header {
  width: 100%;
  padding: 60px 63px 0;
  display: flex;
  align-items: center;
}
.header__nav-desktop {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.header__nav-list {
  display: flex;
  gap: 76px;
  padding-right: 50px;
}

.header__link {
  font-weight: 400;
  font-size: 16px;
  line-height: 122%;
  text-align: center;
  display: flex;
  align-items: center;
  gap: 10px;
}

.nav-mobile {
  position: fixed;
  top: 0;
  left: 100%;
  background-color: #fff;
  width: 100%;
  height: 100vh;
  z-index: 3;
  border: 8px solid #000;
}
.nav-mobile.popup_opened {
  left: 0;
}
.page.page-lock {
  overflow: hidden;
}

.nav-mobile__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
  align-items: center;
  width: 100%;
  height: 100vh;
}
.nav-mobile__item {
  font-size: 30px;
}
/* intro */
.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
  gap: 40px;
  scroll-margin: 30px;
}
.intro__title {
  font-family: "IBM Plex Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 87%;
  text-align: center;
  max-width: 600px;
}
.intro__title span:first-child {
  -webkit-text-stroke: 1px #000;
  color: #fffb47;
  text-shadow: 2px 2px 0px #000000;
}
.intro__text {
  max-width: 386px;
  font-weight: 400;
  font-size: 24px;
  line-height: 122%;
  text-align: center;
  padding: 0 10px 15px;
}

/* transfer */
.transfer {
  display: flex;
  max-width: 82%;
  align-items: center;
  margin: 171px auto 0;
  gap: 55px;
}
.transfer__title {
  font-weight: 400;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: -0.04em;
  max-width: 400px;
}
.transfer__container {
  max-width: 800px;
  width: 65%;
  height: 351px; /* не знаю как лучше */
  background-color: #9747ff;
  border: 4px solid #000000;
  box-shadow: 12px 12px 0px #000000;
  position: relative;
  display: flex;
}

.transfer__img-dollar {
  position: absolute;
  left: 40px;
  top: 30px;
  width: 20%;
  animation: transl 4s infinite linear;
  animation-direction: alternate;
}

.transfer__paragraph {
  color: #ffffff;
  font-family: "IBM Plex Mono";
  font-weight: 700;
  font-size: 64px;
  line-height: 87%;
  text-align: center;
  align-self: flex-end;
  margin: 0 auto 100px;
  letter-spacing: -0.04em;
  font-feature-settings: "ss01" on, "ss03" on;
}
/* global */
.global {
  margin: 210px auto 0;
  scroll-margin: 30px;
  display: flex;
}
.global__text {
  max-width: 730px;
  margin: 0 auto 0 180px;
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 33px;
}
.global__svg {
  fill: #000;
  margin-left: 10px;
}
.global__svg:hover {
  fill: currentColor;
}
.global__title {
  font-family: "IBM Plex Mono";
  font-weight: 700;
  font-size: 64px;
  line-height: 87%;
  position: sticky;
  z-index: 1;
  margin: 0;
}
.global__subtitle {
  font-weight: 400;
  font-size: 24px;
  line-height: 87%;
  position: sticky;
  z-index: 1;
}

.global__link {
  position: sticky;
  text-decoration: underline;
  font-weight: 400;
  font-size: 24px;
  line-height: 87%;
  z-index: 1;
  width: fit-content;
}
.global__container {
  width: 440px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -khtml-border-radius: 50%;
  background: blue;
  border: 4px solid #000000;
  box-shadow: 12px 12px 0px #000000;
}
.global__img {
  position: relative;
  top: 0;
  right: 70px;
  max-width: 440px;
}
.global__container:after {
  content: "";
  display: block;
  padding-top: 100%;
}
.global__container-arrow {
  width: 440px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
}

.global__container-earth1 {
  width: 230px;
  position: absolute;
  top: 220px;
  right: 110px;
}

.global__container-earth2 {
  width: 190px;
  position: absolute;
  top: 30px;
  right: 60px;
}
.global__container-earth3 {
  width: 100px;
  position: absolute;
  top: 100px;
  right: 300px;
}
.global__container-animation {
  animation: rotationEarth 0.1s linear infinite alternate;
}
/* time */
.time {
  margin: 210px auto 104px;
  display: flex;
  justify-content: center;
  gap: 60px;
  scroll-margin: 30px;
}
.time__wrapper {
  min-width: 394px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 36px;
}
.time__title {
  font-family: "IBM Plex Mono";
  font-weight: 700;
  font-size: 64px;
  line-height: 87%;
  text-align: right;
  padding-top: 80px;
}
.time__title .mark {
  background-color: #baffcd;
  color: #37ab00;
}
.time__subtitle {
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  padding-bottom: 90px;
}
.time__container {
  width: 440px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -khtml-border-radius: 50%;
  background: #fffb47;
  border: 4px solid #000000;
  box-shadow: 12px 12px 0px #000000;
  position: relative;
}
.time__container:after {
  content: "";
  display: block;
  padding-top: 100%;
}
.time__paragraph {
  position: absolute;
  font-family: "IBM Plex Mono";
  font-weight: 700;
  font-size: 32px;
  line-height: 87%;
  text-align: center;
  letter-spacing: -0.04em;
}
.time__container .img-dollar {
  width: 36%;
  position: absolute;
  top: 22%;
  left: 33%;
  transform: rotate(270deg);
}
.img-dollar_rotation {
  width: 36%;
  position: absolute;
  top: 38%;
  left: 50%;
  transform-origin: 6% 52%;
  animation: rotation 10s infinite linear;
  z-index: 2;
}

.time_12 {
  padding-top: 31px;
  top: 0;
  left: 46%;
}
.time_3 {
  padding-right: 31px;
  bottom: 50%;
  right: 0;
}
.time_6 {
  padding-bottom: 31px;
  bottom: 0;
  left: 50%;
}
.time_9 {
  padding-left: 31px;
  bottom: 50%;
  left: 0;
}

/* footer */
.footer {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 48px 110px 51px 62px;
  background-color: #fff;
  border: 2px solid #000000;
  margin: 0;
  justify-content: space-between;
}
.footer__nav-list {
  display: flex;
  gap: 64px;
}

.footer__paragraph {
  font-family: "IBM Plex Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 87%;
  text-align: center;
  letter-spacing: -0.04em;
  margin: 0 0 15px;
  text-align: left;
}
.footer__nav-block-item {
  font-family: "IBM Plex Mono";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 87%;
  letter-spacing: -0.04em;
  margin-top: 8px;
}
.footer__icon-list {
  display: flex;
  justify-content: space-between;
  min-width: 152px;
}
