.intro__title {
  font-family: "IBM Plex Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 87%;
  text-align: center;
  max-width: 499px;
}
.intro__title span {
  -webkit-text-stroke: 1px #000;
  color: #fffb47;
  text-shadow: 2px 2px 0px #000000;
}
